.agenda-card {
  border-radius: 9px!important;
  background-color: #195fbe !important;
}

.main-btn {
  border-radius: 9px!important;
  background-color: #195fbe !important;
}

main-btn {
  border-radius: 6px!important;
  background-color: #195fbe !important;
}

.container-jadwal {
  border-radius: .50rem!important;
}

